.annihilation {
  position: relative; //calc this in js

  & > *:not(.annihilation__content) {
    visibility: hidden;
  }

  .annihilation__content {
    --columns: 1;
    --rows: 1;

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    background-size: 0;

    & > * {
      --column: 0;
      --row: 0;

      background-image: inherit;
      width: calc(100% / var(--columns));
      height: calc(100% / var(--rows));
      background-position: calc(-100% * var(--column)) calc(-100% * var(--row));
    }
  }
}
